<section>

<h2><%= @movie.name %> </h2>
<p>Year: <%= @movie.year %> </p>
<p>Genre: <%= @movie.genre %> </p>
<h3> Actor List </h3>

  <% @movie.actors.age_order.each do |actor| %>
<p><%= actor.name %></p>
<% end %>
<p>Average age: <%=@movie.actors.average_age %></p>

</section>

<p><%= link_to "Add Actor", "/movies/:movie_id/actors/:id", method: :patch %> </p>
