<section>

<h2><%= @movie.name %> </h2>
<p>Year: <%= @movie.year %> </p>
<p>Genre: <%= @movie.genre %> </p>
<h3> Actor List </h3>
  <p>Average age: <%=@movie.actors.average_age %></p>
<% @movie.actors.each do |actor| %>
<p><%= actor.name %></p>
<p><%= actor.name %></p>
<% end %>

</section>
